$primary-color: #1976d2;
$secondary-color: rgb(255, 255, 255);
$gray-color: #a0a6ac;
$danger-color: #d32f2f;
$success-color: #43a047;
$warning-color: #ffa000;

$text-primary-color: #000000;
$text-secondary-color: #ffffff;
